table {
    border: solid black 30px;    
    /* border-collapse: collapse; */
    border:outset;
    background-color: blue;
}

th {
    background-color: green;
    /* border: solid blue 3px; */
    color:white;
    
}

td {
    /* border: solid blue 1px; */
    background-color:rgba(127, 255, 212, 0.442)
    
}

.segundafila {
    background-color: rgba(127, 255, 212, 0.848);
}


